.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}

.form-control:focus {
    border-color: #1C18DB;
}

.form-group {
    margin-bottom: 50px;
}

.login-button {
    float: right;
}

.fa {
    font-size: 25px;
}