.modal-title {
    text-align: center;
    color: #5d3b74;
}

.modal-contents {
    padding-top: 40px;
}

.modal-vertical-line {
    border-left: 1px solid black;
    height: 100%;
    position: relative;
}

.auth-modal {
    max-width: 47% !important;
}