@font-face {
    font-family: "Roboto Condensed Light";
    src: local("robo-condensed-light")
    ,url("../../../assets/fonts/roboto-condensed-light.ttf") format("truetype");
}

.quotes {
    font-size: 20px;
    font-family: 'Roboto Condensed Light';
}